body {
    background-color: rgb(255, 89, 241);
    margin: 0;
    color: white;
    font-family: arial;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

h2 {
    font-size: 20px;
    text-align: center;
    margin-top: 0;
}

h1 {
    text-align: center;
    font-family: arial;
    margin-bottom: 0px;
}

p {
    text-align: center;
    font-family: arial;
    margin-bottom: 0px;
}

ul {
    color: white;
    font-family: arial;

    display: grid;
    grid-template-columns: repeat(3, 3fr);

    gap: 10px 40px;

    list-style-position: inside;
}

.typewriter1 {
    display: inline-block;
    overflow: hidden;
    white-space: nowrap;
    border-right: 3px solid white;
    width: 0;

    animation:
        typing1 1s steps(7, end) forwards,
        blink 0.7s 3,
        hideCursor 0s forwards;

    animation-delay: 0s, 0s, 1s;
}

.fadein {
    opacity: 0;

    animation: fadeIn 1s forwards;
    animation-delay: 3s;
}

.fadein2 {
    opacity: 0;

    animation: fadeIn 1s forwards;
    animation-delay: 4s;
}

.typewriter2 {
    display: inline-block;
    overflow: hidden;
    white-space: nowrap;
    border-right: 3px solid white;
    width: 0;

    animation:
        typing2 2s steps(27, end) forwards,
        blink 0.7s 5,
        hideCursor 0s forwards;

    animation-delay: 1s, 1s, 3s;
}

@keyframes typing1 {
    from {
        width: 0;
    }

    to {
        width: 7ch;
    }
}

@keyframes typing2 {
    from {
        width: 0;
    }

    to {
        width: 24ch;
    }
}

@keyframes blink {
    50% {
        border-color: transparent;
    }
}

@keyframes hideCursor {
    to {
        border-right-color: transparent;
    }
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}